$gr0: #80CBC4;
$gr1: #26A69A;
$gr2: #00897B;
$gr3: #00796B;

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    direction: rlt;
    font-family: "vazir", Arial, Helvetica, sans-serif;
    background-image: url(../img/bg.png);
    background-color:  whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card {
    margin: 2vh 5px;
    padding: 0;
    height: 96vh;
    text-align: center;
    box-shadow: 0 0 15px -1px $gr0;
    .card-top {
        margin: 0;
        padding: 0;
        height: 16vh;
        background: $gr3;
        border: 2px solid $gr2;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
    }
    .card-picture {
        position: absolute;
        left: 50%;
        height: 120px;
        width: 120px;
        margin-left: -60px;
        margin-top: -60px;
        border-radius: 50%;
        img {
            width: 100%;
            border-radius: 50%;
            border: 3px solid $gr2;
        }
    }
    .card-body {
        height: 80vh;
        background: rgba(255, 255, 255, .4);
        color: #565656;
        border: 2px solid $gr2;
        border-top: none;
        border-radius: 0 0 5px 5px;
        h1 {
            margin-top: 10vh;
            text-shadow: 1px 1px 3px $gr1;
            border-bottom: 2px dashed whitesmoke;
        }
        .social {
            font-size: x-large;
            a {
                margin: 1vh;
                text-decoration: none;
                opacity: .8;
                &.twitter {
                    color: #55acee;
                }
                &.linkedin {
                    color: #0077B5;
                }
                &.instagram {
                    color: #e4405f;
                }
                &.github {
                    color: #6cc644;
                }
                &.gmail {
                    color: #dd4b39;
                }
                &.cv {
                    color: darkgoldenrod;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        .description {
            margin-top: 1vh;
            padding: 1vh;
            direction: rtl;
            text-align: justify;
            font-size: 11pt;
            line-height: 1.75;
            strong {
                color: $gr3;
            }
        }
        .footer {
            margin-top: 4vh;
            a {
                margin: 0 1vh;
                text-decoration: none;
                color: $gr3;
                &:hover {
                    color: $gr2;
                }
            }
        }
    }
}

@media (min-width: 360px) {
    #card {
        margin: 5vh 5px;
        height: 90vh; 
        max-width: 360px;

        
        .card-top {
            height: 17vh;
        }
        .card-body {
            height: 73vh;
            
            h1 {
                margin-top: 8vh;
            }
            
            .description {
                margin-top: 1vh;
                padding: 1vh;
                line-height: 1.9;
            }
            .footer {
                margin-top: 4vh;
            }
        }
    }
}

@media (min-width: 576px) {

    #card {
        margin: 15vh 5px;
        height: 70vh; 
        
        .card-top {
            height: 15vh;
        }
        .card-body {
            height: 55vh;
            
            h1 {
                margin-top: 6vh;
            }
            .social {
                a {
                    margin: .5vh;
                }
            }
            .description {
                margin-top: 1vh;
                padding: 1vh;
                line-height: 1.9;
            }
            .footer {
                margin-top: 4vh;
            }
        }
    }
}

@media (min-width: 768px) {

    #card {
        margin: 15vh 5px;
        height: 70vh; 

        .card-top {
            height: 15vh;
        }
        .card-body {
            height: 55vh;
            
            h1 {
                margin-top: 6vh;
            }
            .description {
                margin-top: 1vh;
                padding: 1vh;
                line-height: 2;
            }
            .footer {
                margin-top: 4vh;
            }
        }
    }
}

@media (min-width: 1200px) {

    #card {
        margin: 20vh 5px;
        height: 60vh; 

        .card-top {
            height: 13vh;
        }
        .card-body {
            height: 47vh;
            
            h1 {
                margin-top: 6vh;
            }
            .description {
                margin-top: 1vh;
                padding: 1vh;
                line-height: 2;
            }
            .footer {
                margin-top: 4vh;
            }
        }
    }
}